* {
    box-sizing: border-box;
    margin: 0;
    font-family: Helvetica, sans-serif;
}
body {
    background-color: antiquewhite;
    display: grid;
    text-align: center;
    grid-template-rows: 4rem auto 45px 1fr;

    gap: 3px;
    height: 100%;
}

nav {
    background-color: #a3a3a3;
    padding: 15px;
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 2;
}

footer {
    background-color: #fbc5ed;
    grid-row-start: 3;
    grid-column-start: 1;

    grid-row-end: 4;
    grid-column-end: 2;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #d0d9e6;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
}

header {
    padding: 40px;
    background-color: #7a5dbf;
    grid-row-start: 4;
    grid-column-start: 1;

    grid-row-end: 5;
    grid-column-end: 2;
}
.img-card {
    border: 2px solid salmon;
    background-color: aqua;
    height: 250px;
    width: 250px;
    margin: 35px;
    text-align: center;
}

.img-card:hover {
    border: 10px solid rgb(249, 198, 194);
}

.image {
    object-fit: cover;
    height: 150px;
    width: 230px;
    padding: 10px;
}

.title {
    color: blue;
}

.img-modal {
    border: 2px solid rgb(186, 74, 251);
    background-color: rgb(98, 255, 0);
    height: 70vh;
    width: 70vw;
    overflow: scroll;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-modal:hover {
    border: 5px solid orange;
}
.modal {
    display: flex;
    flex-direction: row;
    height: 70vh;
    width: 70vw;
}

.background {
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-image {
    height: 300px;
    width: 400px;
    object-fit: cover;
}

.comment-section {
    background-color: #fbc5ed;
    padding: 30px;
}

.comment-upload {
    padding: 10px;
    background-color: #a3a3a3;
}

.comments-container {
    padding: 10px;
    background-color: #7cd8fa;
}

.comment {
    border-bottom: 2px dotted grey;
    background-color: antiquewhite;
    padding: 10px;
}

#more-btn {
}
